{% extends  'bookgoods/base.html'%}

{%block body_2%}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{t1.ttitle}}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{%for new in new_list%}
					<li>
						<a href="/goods/{{new.id}}/"><img src="/static/{{new.gpic}}"></a>
						<h4><a href="/goods/{{new.id}}/">{{new.gtitle}}</a></h4>
						<div class="prize">￥{{new.gprice}}</div>
					</li>
					{%endfor%}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/goods/list{{t1.id}}_1_1/" {%if orderby == '1'%} class="active" {%endif%}>默认</a>
				<a href="/goods/list{{t1.id}}_1_2/?desc={%if desc == '1'%}0{%else%}1{%endif%}" {%if orderby == '2'%} class="active" {%endif%}>价格</a>
				<a href="/goods/list{{t1.id}}_1_3/" {%if orderby == '3'%} class="active" {%endif%}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{%for goods in page%}
				<li>
					<a href="/goods/{{goods.id}}/"><img src="/static/{{goods.gpic}}"></a>
					<h4><a href="/goods/{{goods.id}}/">{{goods.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{goods.gprice}}</span>
						<span class="unit">{{goods.gprice}}/{{goods.gunit}}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{%endfor%}

			</ul>

			<div class="pagenation">
				{%if page.has_previous%}
                    <a href="/goods/list{{t1.id}}_1_{{orderby}}/" class="">首页</a>
                    <a href="/goods/list{{t1.id}}_{{page.number|add:-1}}_{{orderby}}/">上一页</a>
				{%endif%}

                {%if page.Pagintor.num_pages < 5%}
                    {%for pindex in page.paginator.page_range%}
                        {%if page.number == pindex%}
                            <a href="#" class="active">{{pindex}}</a>
                        {%else%}
                            <a href="/goods/list{{t1.id}}_{{pindex}}_{{orderby}}/">{{pindex}}</a>
                        {%endif%}
                    {%endfor%}
                {%else%}
                    {%if page.number == 1%}
                        <a href="#" class="active">1</a>
                        <a href="/goods/list{{t1.id}}_2_{{orderby}}/" class="">2</a>
                        <a href="/goods/list{{t1.id}}_3_{{orderby}}/" class="">3</a>
                        <a href="/goods/list{{t1.id}}_4_{{orderby}}/" class="">4</a>
                        <a href="/goods/list{{t1.id}}_5_{{orderby}}/" class="">5</a>
                    {%elif page.number == 2 %}
                        <a href="/goods/list{{t1.id}}_1_{{orderby}}/" class=''>1</a>
                        <a href="#" class="active">2</a>
                        <a href="/goods/list{{t1.id}}_3_{{orderby}}/" class="">3</a>
                        <a href="/goods/list{{t1.id}}_4_{{orderby}}/" class="">4</a>
                        <a href="/goods/list{{t1.id}}_5_{{orderby}}/" class="">5</a>
                    {%elif page.number == page.paginator.num_pages%}
                        <a href="/goods/list{{t1.id}}_{{page.number|add:-4}}_{{orderby}}/" class=''>{{page.number|add:-4}}</a>
                        <a href="/goods/list{{t1.id}}_{{page.number|add:-3}}_{{orderby}}/" class="">{{page.number|add:-3}}</a>
                        <a href="/goods/list{{t1.id}}_{{page.number|add:-2}}_{{orderby}}/" class="">{{page.number|add:-2}}</a>
                        <a href="/goods/list{{t1.id}}_{{page.number|add:-1}}_{{orderby}}/" class="">{{page.number|add:-1}}</a>
                        <a href="#" class="active">{{page.number}}</a>
                    {%elif page.number == page.paginator.num_pages|add:-1%}
                        <a href="/goods/list{{t1.id}}_{{page.number|add:-3}}_{{orderby}}/" class=''>{{page.number|add:-3}}</a>
                        <a href="/goods/list{{t1.id}}_{{page.number|add:-2}}_{{orderby}}/" class="">{{page.number|add:-2}}</a>
                        <a href="/goods/list{{t1.id}}_{{page.number|add:-1}}_{{orderby}}/" class="">{{page.number|add:-1}}</a>
                        <a href="#" class="active">{{page.number}}</a>
                        <a href="/goods/list{{t1.id}}_{{page.number|add:1}}_{{orderby}}/" class="">{{page.number|add:1}}</a>
                    {%else%}
                        <a href="/goods/list{{t1.id}}_{{page.number|add:-2}}_{{orderby}}/" class=''>{{page.number|add:-2}}</a>
                        <a href="/goods/list{{t1.id}}_{{page.number|add:-1}}_{{orderby}}/" class="">{{page.number|add:-1}}</a>
                        <a href="#" class="active">{{page.number}}</a>
                        <a href="/goods/list{{t1.id}}_{{page.number|add:1}}_{{orderby}}/" class="">{{page.number|add:1}}</a>
                        <a href="/goods/list{{t1.id}}_{{page.number|add:2}}_{{orderby}}/" class="">{{page.number|add:2}}</a>
                    {%endif%}
                {%endif%}

				{%if page.has_next%}
				<a href="/goods/list{{t1.id}}_{{page.number|add:1}}_{{orderby}}/">下一页></a>
                <a href="/goods/list{{t1.id}}_{{page.paginator.num_pages}}_{{orderby}}" class="">末页</a>
				{%endif%}
			</div>
		</div>
	</div>

{%endblock body_2%}